@page
@model Advance_web_Project.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}


<div class="container-box-Login">
	@* <div class="container-elements"> *@

	<div class="Message">
		<h2>WELCOME TO THE<br>WEBSITE</h2>
		<p class="text">Lorem ipsum Lorem ipsum Lorem<br> ipsum Lorem ipsum </p>
	</div>


	<div class="img-top"></div>



	<div class="elements">

	<h2 class="title">USER LOGIN</h2>
	<p class="welcome-text">Welcome Back</p>
	<form method="post">

	<div class="text-danger" asp-validation-summary="ModelOnly"></div>
			<span class="text-danger" asp-validation-for="credential.Username"></span>

			<div class="input-with-icon">
				<i class="bi bi-person-fill"></i>
				<input class="form-control"
					   asp-for="credential.Username"
					   placeholder="Username" />
			</div>
			<span class="text-danger" asp-validation-for="credential.Password"></span>

			<div class="input-with-icon">
				<i class="bi bi-lock-fill"></i>
				<input class="form-control"
					   asp-for="credential.Password"
					   type="password"
					   placeholder="Password" />
			</div>
	<button type="submit" class="btn btn-primary mt-3">Login</button>
	</form>
	</div>

</div>



